:root {
    --slider-width: 450px;
    --number: 4;
    --color-border: lightblue;
    --color-bg: darkgray;
    --color-text: white;
    --color-hover: yellow;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 67%;
  }

  body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: var(--color-text);
    background-color: var(--color-bg);
    width: 100%;
    height: 100vh;
  }

  .hidden {
    visibility: hidden;
  }
  
  .container {
    width: var(--slider-width);
    height: 480px;
    margin: 10rem auto;
  }
  